node_modules

/dist/

/omega-pac/index.js
/omega-pac/omega_pac.min.js
/omega-pac/build-ts/

/omega-target/index.js
/omega-target/omega_target.min.js
/omega-target/build-ts/

/omega-web/build/
/omega-web/build-ts/
/omega-web/tmp/

/omega-target-chromium-extension/index.js
/omega-target-chromium-extension/omega_target_*.min.js
/omega-target-chromium-extension/tmp/
/omega-target-chromium-extension/build/
/omega-target-chromium-extension/build-ts/
/omega-target-chromium-extension/release/
