doctype html
html(lang='en' ng-controller='MasterCtrl' ng-csp)
  head
    meta(charset='utf-8')
    title(ng-bind="'options_title' | tr") SwitchyAgain Options
    meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    link(rel='stylesheet' href='lib/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet' href='lib/spectrum/spectrum.css')
    link(rel='stylesheet' href='lib/ladda/ladda-themeless.min.css')
    link(rel='stylesheet' href='lib/shepherd.js/shepherd-theme-arrows.css')
    link(rel='stylesheet' href='css/options.css')
  body(style='display: none;' ng-style='{display: options ? "block" : "none"}')
    .container-fluid
      header.col-lg-2.col-sm-3.side-nav(omega-react-options-shell)
      main.col-lg-10.col-sm-9.col-lg-offset-2.col-sm-offset-3.angular-animate(ui-view)

    div(omega-react-options-alert)
    script(src='js/omega_debug.js')
    script(src='js/log_error.js')
    script(src='lib/script.js/script.min.js')
    script(src='js/options.js')
